*{
  margin: 0;
  padding: 0;
  font-family: serif;
}
.layout{
  display: flex;
  flex-direction: row;
  height:100vh;
  width:100vw;
  overflow:hidden;
  
}
.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.main-content {
  flex: 1;
  margin-left:0;
  padding: 20px; 
  background-color: #ececec;
}
.sidebar{
  position:sticky;
  display:flex;
  flex-direction: column;
  background-color: #181818;
  padding:4px;
  height: 100vh;
  width: 250px;
  color:white;
  font-size: 20px;
  font-weight:bold;
}
.logo{
  display:flex;
  align-items: center;
  gap:5px;
  padding:1px 1px 3px 3px;
}

.top{
  flex:1;
}
.top-links{
  margin-top:20px;
  list-style: none;
}
.link-items{
  display:inline-block;
  text-decoration: none;
  color:white;
  margin-top:20px;
  width:100%;
}
.link-icons{
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  margin:5px;
}
.bottom-links{
  list-style: none;
}
.bottom-items{
  display:inline-block;
  text-decoration: none;
  color:white;
  width:100%;
  margin-top:10px;
}
.link-items:hover,.bottom-items:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.header{
  position:sticky;
  top:0;
  z-index:1000;
  height:50px;
  width:100%;
  background-color: #181818;

}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 15px;
 ;
  
}
.card-1{
 
  background-color:#2e7d32 ;
  height:100px;
  width:200px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
}
.card-2{
 
 

  background-color:#d50000 ;
  
  height:100px;
  width:200px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  border-radius: 5px;
}
.card-3{
  background-color:#ff6d00 ;
  height:100px;
  width:200px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  border-radius: 5px;
}
.card-4{
  background-color: #2962ff;
  height:100px;
  width:200px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  border-radius: 5px;
}
.card-txt{
  font-size:20px;
  color:gray-500;
  font-weight:light;
  margin:5px;
  
}
.card-icons{
  font-size: 20px;
  vertical-align: middle;
  line-height: 1px;
  margin:5px;
  float:right; 

.card-counts{
  
}
}
.networkManagement{
  display:flex;
  flex-direction: column;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  background-color: white;
}
.networkManagement-header{
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  
}
.top-content{
  display:flex;
  justify-content: space-between;
}
.search{
  height: 30px;
  margin: 10px;
  border-radius: 3px;

}
.add-btn{
  height: 30px;
  width: 60px;
  margin: 10px;
  background-color: #1E90FF;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.add-icon{
  padding-left:5px;
  vertical-align: middle;
  horizontal-align: middle;
  line-height: 1px;
  font-size: 15px;
}
modal{
  outline: none;
}

.input-modal,.delete-modal{
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-cancel{
  float: right;
  margin:5px;
  background-color:transparent;
  border: none;
  cursor: pointer;
}
.modal-header{
  display:flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.3); 
}
.form-container{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}
select{
  width: 34%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}
.error-message{
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}
.btn-container{
  display:flex;
  justify-content: center;
  margin: 10px;
}


.btn-modal{
 margin:4px;
 padding: 3px;
 border:none;
 border-radius: 3px;
 color: white;
 font-weight: bold;
 cursor: pointer;
 background-color: #1E90FF;
}



th{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
td{
  padding: 10px;
  border-bottom: 1px solid #ddd;

}

.message-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1001;
}
.action{
  cursor: pointer;
}
.btn-upDel{
  background-color: transparent;
  border: none;
  padding: 3px;
  font-size: 18px;
  cursor: pointer;
  horizontal-align: middle;
  vertical-align: middle;
}
.cud-ops{
  margin-top: 10px;
  
}
.btn-primary{
  width: 15%;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
.btn-modal-cancel{
  background-color: red;
  margin:4px;
  padding: 3px;
  border:none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
 }


.reports{
  background-color: white;
  display:flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.main-content-reports{
 
  border: 1px solid gray;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:20px;
}
.report{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

}
.report-download-button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 60px;
  margin: 10px;
  background-color: #1E90FF;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
